<div class="container">
  <h1>Gym Bro 52</h1>

  <div class="actions">
    <%= button_to "Абонементы", memberships_path, method: :get, class: "button" %>
    <%= button_to "Тренеры", trainers_path, method: :get, class: "button" %>
    <%= button_to "Тренировки", workouts_path, method: :get, class: "button" %>
  </div>
  
<%= button_to "Отключить базу данных", disconnect_db_path, method: :post, class: "button disconnect" %>
</div>